In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statistics as stat
import math
import pickle
import gzip
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import svm

In [2]:
#read in csv files. drop unknown column
traindf = pd.read_csv('train_data.csv', engine='python')
traindf.drop(traindf.columns[traindf.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

#clean the date information
traindf['date'] = traindf['date'].str.replace("(T).*","").astype(int)

#testdf.drop(testdf.columns[testdf.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
traindf.info()
traindf.head()


#Creates a copy of the training df so we can arrange our data and correctly format it
traindfy = traindf.copy()
traindfX = traindf.copy()


#creates y and X df
y = traindfy
X = traindfX

#Shows us our data for X
X.drop(['price'], axis=1, inplace=True)
traindfX.columns = range(traindfX.shape[1])
X.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17290 entries, 0 to 17289
Data columns (total 21 columns):
id               17290 non-null int64
date             17290 non-null int64
bedrooms         17290 non-null int64
bathrooms        17290 non-null float64
sqft_living      17290 non-null int64
sqft_lot         17290 non-null int64
floors           17290 non-null float64
waterfront       17290 non-null int64
view             17290 non-null int64
condition        17290 non-null int64
grade            17290 non-null int64
sqft_above       17290 non-null int64
sqft_basement    17290 non-null int64
yr_built         17290 non-null int64
yr_renovated     17290 non-null int64
zipcode          17290 non-null int64
lat              17290 non-null float64
long             17290 non-null float64
sqft_living15    17290 non-null int64
sqft_lot15       17290 non-null int64
price            17290 non-null int64
dtypes: float64(4), int64(17)
memory usage: 2.8 MB

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,4058200630,20141002,3,1.75,2190,7021,1.0,0,2,4,7,1390,800,1953,0,98178,47.5033,-122.232,2180,7155
1,3613600150,20150105,3,2.50,2370,6840,2.0,0,0,3,9,2370,0,1987,0,98119,47.6503,-122.366,1590,4400
2,7170200080,20140617,2,1.00,1230,3800,1.0,0,0,3,7,1230,0,1928,0,98115,47.6797,-122.292,1610,3800
3,9542300530,20141124,4,2.25,2510,9963,1.0,0,0,4,9,2200,310,1967,0,98005,47.5973,-122.177,3110,9963
4,3626039028,20140818,3,1.00,1160,7491,1.0,0,0,4,6,1160,0,1917,0,98177,47.7024,-122.359,1800,2267
5,7657000540,20150304,4,1.00,1220,7980,1.5,0,0,3,6,1220,0,1944,0,98178,47.4924,-122.237,1210,7920
6,5009600070,20141007,4,2.50,1960,5238,2.0,0,0,3,7,1960,0,2003,0,98038,47.3483,-122.052,1800,5894
7,3905050280,20140819,3,2.50,2060,4812,2.0,0,0,3,8,2060,0,1990,0,98029,47.5793,-122.002,1930,5264
8,1925059200,20150407,4,2.50,2700,17853,2.0,0,0,4,9,2700,0,1960,0,98004,47.6463,-122.219,3790,16672
9,424069010,20140721,4,2.25,2470,17008,2.0,0,0,4,8,2470,0,1979,0,98075,47.5924,-122.048,2470,31798

In [3]:
#shows us our data for y 
y = traindfy['price']
y.head()

0    353000
1    300523
2    435000
3    800000
4    417500
Name: price, dtype: int64

In [4]:
#split the data (necessary for other classifiers)
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [5]:
#checking for correct array sizes
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(12967, 20)
(4323, 20)
(12967,)
(4323,)

In [6]:
#actual linear regression
Lregression = LinearRegression().fit(X.values, y)
Lregression.score(X, y)

0.7054238576290784

In [7]:
#***dont run takes foreer will look at it later*** 
#clf = svm.SVC(kernel='linear', C=1).fit(X_train, y_train)
#clf.score(X_test, y_test)