In [3]:
'''
All the below code was testing LDA to choose features. We found that our other method
had better results so we stuck with the first one
'''
# #Read in the csv file
# stocksdf = pd.read_csv('stock_XY_train.csv', engine='python')


# #Clean data (remove object columns)
# stocksclean = stocksdf.copy()
# cleandf = stocksclean.fillna(0)
# cleandf.drop(['Ticker'], axis=1, inplace=True)
# #TODO:
# #Binarize Sector
# cleandf.drop(['Sector'], axis=1, inplace=True)
# cleandf.head()

,Unnamed: 0,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,Operating Income,Interest Expense,...,3Y Dividend per Share Growth (per Share),Receivables growth,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth,Yr,Buy
0,4685,2.538000e+06,-0.4125,2.472000e+06,6.600000e+04,1002000.0,10251000.0,1.125300e+07,-1.118700e+07,141000.0,...,0.0000,-0.6379,0.0447,0.5950,-0.5153,0.0000,1.8876,0.3534,15,0
1,3142,1.846700e+10,0.0808,1.201200e+10,6.455000e+09,0.0,0.0,1.945000e+09,4.510000e+09,835000000.0,...,0.0361,0.0704,-0.1432,0.0881,0.0352,0.0636,0.0000,0.0000,14,1
2,15877,3.509500e+08,0.2047,1.991250e+08,1.518250e+08,53392000.0,94702000.0,1.661700e+08,-1.434500e+07,0.0,...,0.0000,0.0000,0.0000,-0.0639,-0.0175,-0.0826,-0.0935,-0.1790,17,0
3,6977,3.392500e+07,-0.0320,0.000000e+00,3.392500e+07,0.0,19533000.0,1.987800e+07,1.404700e+07,0.0,...,0.0000,0.0000,0.0000,0.0458,0.0255,-0.0722,0.0000,0.1465,15,1
4,8237,3.116350e+09,0.0308,1.720787e+09,1.395563e+09,258863000.0,572518000.0,8.426080e+08,5.529550e+08,52989000.0,...,0.1802,0.0237,0.0349,0.0851,0.0329,0.2413,0.0519,0.1577,16,1

In [4]:
# #Creat X and y data for train test split 
# #All of the features minus the classification of buy or not 
# X = cleandf.copy()
# X.drop(['Buy'], axis = 1, inplace=True)
# X.head()

# #Just the 1 or 0 whether to buy or not
# y = cleandf.copy()
# y = y['Buy']

In [5]:
# #Test train split 
# X_train, X_test, y_train, y_test = train_test_split(X, y)

# #Using PCA to find most useful features
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)
# pca = PCA()
# X_train = pca.fit_transform(X_train)
# X_test = pca.transform(X_test)
# classifier = RandomForestClassifier(max_depth=2, random_state=0)

# classifier.fit(X_train, y_train)
# y_pred = classifier.predict(X_test)
# print('Accuracy: ' + str(accuracy_score(y_test, y_pred)))

Accuracy: 0.6390953150242327

In [7]:
#Now testing with Adam's discovered best features
Xnew = X[['Yr', 'Inventory Growth', '10Y Net Income Growth (per Share)', '5Y Dividend per Share Growth (per Share)', 'R&D Expense Growth', '3Y Net Income Growth (per Share)', 'SG&A Expenses Growth']]
Xnew.head()

,Yr,Inventory Growth,10Y Net Income Growth (per Share),5Y Dividend per Share Growth (per Share),R&D Expense Growth,3Y Net Income Growth (per Share),SG&A Expenses Growth
0,15,0.0447,0.0000,0.0000,1.8876,0.0000,0.3534
1,14,-0.1432,0.0089,0.0376,0.0000,-0.0507,0.0000
2,17,0.0000,0.0000,0.0000,-0.0935,0.0000,-0.1790
3,15,0.0000,0.0000,0.2307,0.0000,0.6389,0.1465
4,16,0.0349,0.0725,0.1565,0.0519,0.0545,0.1577

In [36]:
# #Test train split on primary features
# X_train, X_test, y_train, y_test = train_test_split(Xnew, y)

# #Using PCA to find most useful features
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)
# pca = PCA()
# X_train = pca.fit_transform(X_train)
# X_test = pca.transform(X_test)
# classifier = RandomForestClassifier(max_depth=2, random_state=0)

# classifier.fit(X_train, y_train)
# y_pred = classifier.predict(X_test)
# print('Accuracy: ' + str(accuracy_score(y_test, y_pred)))

Accuracy: 0.6694668820678513

In [13]:
#Accuracy is Slightly better. If not insignificantly better.

In [31]:
'''
Edit this to meet requirements
'''
#Read in the test csv for prediction
stocksTest = pd.read_csv('stock_X_test.csv', engine='python')

#Clean data (remove object columns)
testcleandf = stocksTest.copy()
testcleandf = stocksclean.fillna(0)
testcleandf.drop(['Ticker'], axis=1, inplace=True)
#TODO:
#Binarize Sector
testcleandf.drop(['Sector'], axis=1, inplace=True)

XFinal = testcleandf.copy()
XFinal.drop(['Buy'], axis = 1, inplace=True)


classifier.fit(XFinal, y)

y_predFinal = classifier.predict(XFinal)

print('Accuracy: ' + str(accuracy_score(y, y_predFinal)))

ypredDf = pd.DataFrame(y_predFinal)

Xreturn = XFinal[['Unnamed: 0']]
Xreturn = pd.concat([XFinal[['Unnamed: 0']], ypredDf], axis=1)
Xreturn.columns = ['Unnamed: 0', 'Buy']

Xreturn.to_csv("kaggle2.csv", index=False)

Accuracy: 0.627918248646902

   Unnamed: 0  Buy
0        4685    0
1        3142    1
2       15877    0
3        6977    1
4        8237    1

In [ ]:
#Has about the same accuracy as before.